table
  margin-top: 2em
  border: 1px solid gray
  border-collapse: collapse

  th, td
    padding: 5px
    border: 1px solid gray

  thead
    background-color: lightgreen

    select
      display: block
      margin: auto

  tbody
    tr
      &:nth-child(even)
        background-color: lightblue
