#facts
  background-color: #E8E8E8

.container
  background-color: pink

h1
  text-shadow: 2px 2px #7d6488

.background
  height: 20em
  width: 100%
  background: url('../resources/ball.png') 2em 2em/6em 6em