nav
  text-align: center
  width: 15em
  background-color: royalblue
  color: white

  ul
    display: none
    list-style: none
    padding: 0
    margin: 0

    li
      border: 2px solid royalblue
      border-top: initial
      //border-right: 2px solid royalblue
      //border-bottom: 2px solid royalblue
      //border-left: 2px solid royalblue
      background-color: white

      &:hover
        background-color: powderblue

      a
        text-decoration: none
        color: black
        display: block

  &:hover ul
    display: block