body
  background: url('../resources/reprezentacja.jpg') center top

article
  margin: 10px
  padding: 20px
  background: rgba(255, 170, 105, 0.62) url('../resources/tomek.jpg')
  background-size: 100px 100px
  background-repeat: no-repeat
  background-origin: content-box
  background-position: right top
  border-radius: 15% 15% 30% 15%
  width: 30%

  a
    text-decoration: none
    color: #000

.animateBall
  position: relative
  animation: movingBall 8s ease-in 1s 1
  width: 100px
  height: 100px

@keyframes movingBall
  0%
    bottom: 0
    left: 0
  10%
    bottom: 100px
    left: 20px
  20%
    bottom: 0
    left: 40px
  30%
    bottom: 100px
    left: 60px
  40%
    bottom: 0
    left: 80px
  50%
    bottom: 100px
    left: 100px
  60%
    bottom: 0
    left: 120px
  70%
    bottom: 100px
    left: 90px
  80%
    bottom: 0
    left: 60px
  90%
    bottom: 100px
    left: 30px
  100%
    bottom: 0
    left: 0