.flexbox
  margin-top: 1em
  background-color: #fee
  display: flex
  align-items: center
  flex-wrap: wrap
  justify-content: space-around

  .border
    width: 100%
    flex: 1 1 auto
    margin: 0.5em
    border: 20px solid
    max-width: 9em
    padding: 0.5em
    text-align: center
    border-image-source: url('../resources/border.png')
    transition-property: flex
    transition-duration: 2s
    transition-timing-function: linear

    &:hover
      font-size: 2em
      flex: 2

    &.border2
      border-image-slice: 34%

    &.border3
      border-image-slice: 34%
      border-image-repeat: repeat

    &.border4
      border-image-slice: 34%
      border-image-repeat: round

    &.border5
      border-image-slice: 34%
      border-image-repeat: space

    &.border6
      border-image-slice: 29% 30% 20% 34%

