extends common/template

block head
  meta(name='description' content='Formularz kontaktowy')
  meta(name='keywords' content='formularz, kontakt')
  link(rel='stylesheet', href='../css/form.css')
  title Formularz
  script(src='../js/form.js')
block body
  section
    h2 Formularz kontaktowy
    form#form(action='mailto:dawidrusiecki6@gmail.com', method='post', autocomplete='on')
      p
        label
          | Imię i nazwisko:
          |
          input#name(type='text', name='name', placeholder='Imię i nazwisko', autofocus)
      p
        label
          | Email:
          |
          input#email(type='email', name='email', placeholder='Email')
          |
          | some@domain.com
      P
          | Wiadomość:
          br
          textarea#comment(name='comment')
      div#message
      input(type='submit', value='Wyślij')
      input(type='reset', value='Wyczyść')