extends common/template

block head
  meta(name='description' content='Informacje o reprezentacji Polski')
  meta(name='keywords' content='Polska, piłka nożna, reprezentacja')
  title Piłka nożna
  link(rel='stylesheet', href='../css/index.css')
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico")
  script(src="../js/index.js")
block body
  section
    h1.shadow Reprezentacja Polski
    p
      | Drużyna sportowa piłki nożnej, reprezentująca Rzeczpospolitą Polską w meczach i turniejach międzynarodowych,
      | powoływana przez selekcjonera reprezentacji, w której mogą występować wyłącznie zawodnicy posiadający obywatelstwo polskie.
      | Za jej funkcjonowanie odpowiedzialny jest Polski Związek Piłki Nożnej.
    section#facts
      h4.font Kilka faktów o reprezentacji:
      p Polska jest najlepsza
      p Polska wygrała swoją grupę
      p Lewy strzelił 4
        sup 2&nbsp;
        | &gt; CR
        sub 7&nbsp;
        | bramek
    .roundCorners
      h4 Najbliższe mecze reprezentacji
      ul
        li Polska - Urugwaj   10 lis
        li Polska - Meksyk    13 lis
  include common/footer
  .container
    .background