extends common/template

block head
  meta(name='description' content='Informacje o reprezentacji Polski')
  meta(name='keywords' content='Polska, piłka nożna, reprezentacja')
  title Piłka nożna
block body
  article
    header
      h5 Relacje ze zgrupowań eliminacyjnych:
    ul
      li
        a(href='https://www.youtube.com/watch?v=xRsityRoV1Q&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP', target='blank') Polska - Czarnogóra
      li
        a(href='https://www.youtube.com/watch?v=vWoQ-_Lc7rU&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP&index=6', target='blank') Armenia - Polska
      li
        a(href='https://www.youtube.com/watch?v=Lh6uUlI_Q9I&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP&index=17', target='blank') Polska - Kazachstan
      li
        a(href='https://www.youtube.com/watch?v=_zi-37uevgo&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP&index=25', target='blank') Dania - Polska
      li
        a(href='https://www.youtube.com/watch?v=7UV3bs-1laE&index=33&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP', target='blank') Polska - Rumunia
      li
        a(href='https://www.youtube.com/watch?v=Qu1EpAJXzwA&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP&index=46', target='blank') Czarnogóra - Polska
      li
        a(href='https://www.youtube.com/watch?v=84-lEn-18h4&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP&index=72', target='blank') Rumunia - Polska
      li
        a(href='https://www.youtube.com/watch?v=GpJTp8hZpUU&index=83&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP&pbjreload=10', target='blank') Polska - Armenia
      li
        a(href='https://www.youtube.com/watch?v=vlIcV6xmEMg&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP&index=88', target='blank') Polska - Dania
      li
        a(href='https://www.youtube.com/watch?v=wmXHdXrBjgI&index=100&list=PLG6TbQ_gBOAx1CAZphdChmWyKCoqTqNUP', target='blank') Kazachstan - Polska
  include common/footer