extends common/template

block head
  meta(name='description' content='Szablon menu')
  meta(name='keywords' content='menu, szablon')
  title Szablon menu
block body
  section
    h1 Szablon menu
    nav Menu
      ul
        li
          nav Pierwsze podmenu
            ul
              li a
              li b
              li c
        li
          a(href='#') Druga opcja
        li
          a(href='#') Trzecia opcja