extends common/template

block head
  meta(name='description' content='Skład reprezentacji')
  meta(name='keywords' content='reprezentacja, piłka nożna, skład, zespół, zawodnicy')
  title Skład
  link(rel='stylesheet', href='../css/team.css')
block body
  section
    .border.border1 Wojciech Szczęsny
    .border.border2 Łukasz Piszczek
    .border.border3 Michał Pazdan
    .border.border4 Kamil Glik
    .border.border5 Artur Jędrzejczyk
    .border.border6 Robert Lewandowski