nav Menu
  ul
    li
      a(href='index.html') Strona główna
    li
      a(href='lewy.html') Informacje o Lewandowskim
    li
      a(href='form.html') Formularz
    li
      a(href='form-additional.html') Formularz dodatkowy