doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description' content='Formularz kontaktowy')
    meta(name='keywords' content='formularz, kontakt')
    title Formularz
  body
    include common/menu.pug
    section
      h2 Formularz kontaktowy
      form(action='mailto:dawidrusiecki6@gmail.com', method='post', autocomplete='on')
        p
          label
            |Imie
            |
            input(type='text', name='name', placeholder='Imie', autofocus)
        p
          label
            |Nazwisko
            |
            input(type='text', name='surname', placeholder='Nazwisko', required)
        p
          label
            |Miesiac urodzin
            |
            input(type='text', name='birthMonth', placeholder='Miesiac urodzin', list='months')
            datalist#months
              option(value='Styczen')
              option(value='Luty')
              option(value='Marzec')
              option(value='Kwiecien')
              option(value='Maj')
              option(value='Czerwiec')
              option(value='Lipiec')
              option(value='Sierpien')
              option(value='Wrzesien')
              option(value='Pazdziernik')
              option(value='Listopad')
              option(value='Grudzien')
        p
          label
            |Email
            |
            input(type='email', name='email', placeholder='Email', required)
            |some@domain.com
        p
          label
            |Tel
            |
            input(type='tel', name='phone', placeholder='Numer telefonu', pattern='\\(\\d{3}\\) +\\d{3}-\\d{4}')
            | (###) ###-####
        input(type='submit', value='Wyslij')
        input(type='reset', value='Wyczyść')