doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description' content='Informacje o reprezentacji Polski')
    meta(name='keywords' content='Polska, piłka nożna, reprezentacja')
    title Piłka nożna
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
  body
    include menus/menu.pug
    .container
      h1 Piłka nożna
      h2 Polska jest najlepsza
      p Polska wygrała swoją grupę
      p Lewy strzelił 4
        sup 2&nbsp;
        | &gt; CR
        sub 7&nbsp;
        | bramek