doctype html
html
  head
    meta(charset='utf-8')
    title Piłka nożna
  body
    include menus/menu.pug
    div
      h1 Piłka nożna
      h2 Polska jest najlepsza
      p Polska wygrała swoją grupę
      p Lewy strzelił 16 bramek