doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description' content='Informacje o Robercie Lewandowskim')
    meta(name='keywords' content='Polska, Robert, Lewandowski, piłka nożna, Lewy')
    title Piłka nożna
  body
    include menus/menu.pug
    section
      h1 Robert Lewandowski
      p Lewandowski został królem strzelców eliminacji. Strzelił aż 57% wszystkich naszych bramek:
      | 0
      |
      meter(min='0', max='28', value='16')
      |
      | 28