doctype html
html
  head
    meta(charset='utf-8')
    title Scorers
  body
    h2 Lista strzelców w repezentacji Polski eliminacje ms 2018
    ol
      li Robert Lewandowski - 16
        ul
          li Kamil Grosicki
          li Kuba Blaszczykowski
          li Piort Zielinski

      li Kamil Grosicki - 3
        ul
          li Lukasz Piszczek
          li Robert Lewandowski
      li Kuba Blaszczykowski - 1
      li Rafal Wolski - 1
      li Krzysztof Maczynski - 1
       ul
         li Piotr Zielinski
      li Arek Milik - 1
       ul
         li Makuszewski
      li Kamil Glik - 1
       ul
         li Piotr Zielinski
      li Lukasz Piszczek - 1
       ul
         li Piort Zielinski

      li Bartek Kapustka - 1
        ul
          li Kuba Blaszczykowski