extends ../common/template
block head
  meta(name='description' content='Dane')
  meta(name='keywords' content='dane')
  link(rel='stylesheet' href='../css/data.css')
  script(src='../js/filter.js')
  title Dane
block body
  div.
    <?php
    if (!($conn = mysqli_connect("localhost", "rusoko", "abc123")))
        die("<p>Connection failed: " . $conn->connect_error . "</p>");

    if (!mysqli_select_db($conn, "data"))
        die("<p>Error opening data database: " . mysqli_error($conn) . "</p>");

    $sql = "SELECT login, password, email, phone FROM people";
    if (!($result = mysqli_query($conn, $sql)))
        die("<p>Error executing query: " . mysqli_error($conn) . "</p>");
    mysqli_close($conn);
    ?>

  table
    caption Dane z bazy
      thead#thead
        tr
          th login
            select
              option *
          th hasło
            select
              option *
          th email
            select
              option *
          th telefon
            select
              option *
      tbody#tbody.
        <?php
        while($row = mysqli_fetch_row($result)) {
            print("<tr>");
            foreach ($row as $value)
                print("<td>$value</td>");
            print("</tr>");
        }
        ?>
  include ../common/footer