extends ../common/template
block first
  include ../common/userRedirectionToLogin
  +user("../html/meetings.php")
block head
  meta(name='description' content='Memy')
  meta(name='keywords' content='memy, Hajto')
  title Memy
  link(rel='stylesheet', href='../css/text.css')
  script(src='../js/memes.js')
block body
  include ../common/userPanel
  section
    h1 Memy (i nie tylko!)
    button.button#newMemeButton Losuj nowego mema
    button.button#quizButton Sprawdź swoją wiedzę
    button.button#bmiButton Czy jesteś jak Lewy?
    p
      img#meme(alt='Mem z Hajto', src='../resources/memes/meme1.jpg')