.nav-main
  nav Menu
    ul
      li
        a(href='index.html') Strona główna
      li
        a(href='text.html') Trener
      li
        a(href='meetings.html') Zgrupowania
      li
        a(href='table.html') Tabela grupy
      li
        a(href='lewy.html') Informacje o Lewandowskim
      li
        a(href='form.html') Formularz
      li
        a(href='form-additional.html') Formularz dodatkowy
      li
        a(href='menu-template.html') Szablon menu