.nav-main
  nav Menu
    ul
      li
        a(href='index.html') Strona główna
      li
        a(href='text.html') Trener
      li
        a(href='text-responsive.html') Responsywny trener
      li
        a(href='meetings.php') Zgrupowania
      li
        a(href='table.html') Tabela grupy
      li
        a(href='lewy.html') Informacje o Lewandowskim
      li
        a(href='form.html') Formularz
      li
        a(href='menu-template.html') Szablon menu
      li
        a(href='team.html') Skład
      li
        a(href='team-placing.html') Ustawienie składu
      li
        a(href='memes.php') Memy
      li
        a(href='style.php') Zmiana stylu