block first
doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='../css/main.css')
    link(rel='stylesheet', href='../css/main2.php')
    script(src='../js/collections.js')
    block head
  body
    include menu
    block body
